.container {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 50%;
  background-color: rgb(82, 152, 228);
  padding: 2em;
}

main {
  display: flex;
  justify-content: center;
}

.eyes {
  width: 20px;
  height: 20px;
  background-color: rgb(111, 73, 27);
  border-radius: 50%;
}

.eyes:nth-child(1) {
  bottom: 65px;
  position: absolute;
  left: 42px;
  animation: blink 3s ease infinite;
}

.eyes:nth-child(2) {
  bottom: 65px;
  position: absolute;
  left: 98px;
  animation: blink 3s ease infinite;
}

.eyes-cont {
  position: relative;
  display: flex;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: column;
}

.rotate {
  transform: translateX(4px);
}

.rotate2 {
  transform: translateX(2px);
}

.dot {
  background-color: white;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
}

.dot:nth-last-of-type(1) {
  position: absolute;

  bottom: 70px;
  left: 48px;
}

.dot:nth-last-of-type(2) {
  position: absolute;

  bottom: 70px;
  left: 103px;
}

.hand {
  z-index: 0;
  position: absolute;
  left: 33px;
  opacity: 1;
}

.handAfter {
  opacity: 1;
  animation: handsUp 1.1s ease forwards;
}

.handAfter2 {
  animation: handsDown 1.1s ease forwards;
}

#monkey {
  margin-bottom: 1em;
}
input {
  border-radius: 15px;
  z-index: 1;
  height: 40px;
}

.passdiv {
  display: flex;
  align-items: center;
}

.passdiv label {
  font-size: 0.8em;
  color: white;
}

button {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-weight: bold;
  border: 0;
  width: 30%;
  height: 30px;
  border-radius: 15px;
}

button:hover {
  background-color: lightgray;
}

@keyframes blink {
  0%,
  100% {
    transform: scale(1, 0.05);
  }
  5%,
  95% {
    transform: scale(1, 1);
  }
}

@keyframes handsUp {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-90px);
  }
}

@keyframes handsDown {
  0% {
    transform: translateY(-90px);
  }

  100% {
    transform: translateY(0px);
  }
}
